body {
    width: 1440px;
    font-family: "Inter", sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    
    /* box-sizing: border-box; */
}
main{
    margin-left:127px;
     margin-right:127px; 
    max-width:1230px;
    
    
}
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar div {
    display: flex;
    align-items: center;
}
/* .logoclass { */
    /* display: flex; */
    /* align-items: center; */

.logoclass img {
    width:112px;
    height:94px;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}


.navbar a {
    color: rgb(9, 9, 9);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar .bt {
    background-color: #DB6767; 
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}


.hero {
  
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 1 / span 12;
    height:581px;
    margin-bottom: 20px;
    

 } 
  
  .hero .text {
    grid-column: 1 / span 6; 
    width:558px;
    height:472px;

    text-align: center;
    

  }
  
  .hero img {
    grid-column: 7/ span 12; 
    width: 612px; 
    height:472px;
  }
  .hero button{
    background-color:#DB6767; 
    color: white;
    text-align: center;
    width: 224px;
    height: 57px;
    border-radius:25px;
    font-size: 20px;
    align-items: center;
}
.hero h1{
    font-size: 45px;
    text-transform: capitalize;
    text-align: left;
}

.hero p{
    font-size: 26px;
    line-height: 160%;
    text-align: left;
}
/* Hero End */


/* Collaboration */
.collab{
    margin-bottom: 20px;
    margin-top: 20px;

}
.collab h1{
    font-size: 45px;
text-align:center;    
}
.sub-collab{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    gap:10px;
}

/* End of collaboration section */

/* Doc Feature */
ol{
    list-style: disc;
}
.doc-features{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    width:100%;
}
.sub-doc-feat{
    height: 613px;
    grid-column: 1 / 2;
    overflow:hidden;


}
.img-box{
    grid-column:  2 / 4;
    width: 612px;
    height: 408px;
    


}
.img-box1{
    grid-column:  2 / 4;
    width:356px;
    height: 701px;
    


}

